entry.search {
    border-radius: 999px;
}

.fuse-block {
  background: none;
  padding: 14.5px 16px;
  border-radius: 8px;
  color: @view_fg_color;
}
.fuse-block:hover {
  background: linear-gradient(0deg, alpha(@accent_bg_color, 0.11), alpha(@accent_bg_color, 0.11)), image(@view_bg_color);
}
row:selected .fuse-block {
  background: linear-gradient(0deg, alpha(@accent_bg_color, 0.14), alpha(@accent_bg_color, 0.14)), image(@view_bg_color);
}

.main-content-block {
    background: linear-gradient(0deg, alpha(@accent_bg_color, 0.11), alpha(@accent_bg_color, 0.11)), image(@view_bg_color);
    padding: 18px;
    border-radius: 12px;
}

.rounded-icon {
    background: @accent_bg_color;
    color: @accent_fg_color;
    border-radius: 999px;
    padding: 11px;
}

button.flat label {
  font-weight: 500;
}

.checked-up {
  background: @success_container_bg_color;
  color: @success_container_fg_color;
  box-shadow: inset 0 0 0 1px @outline;
  margin-top: 12px;
  margin-left: 6px;
}
.wallpaper {
  background: none;
  padding: 0;
}

.red radio {
  background: #e25480;
}
.orange radio {
  background: #f99e5c;
}
.yellow radio {
  background: #febc16;
}
.green radio {
  background: #72da82;
}
.mint radio {
  background: #85d1bf;
}
.blue radio {
  background: #58a8fa;
}
.purple radio {
  background: #a57bcd;
}
.pink radio {
  background: #cb76b8;
}
.mono radio {
  background: #888;
}
.multi radio {
  background: linear-gradient(
        45deg,
        #e25480 0%,
        #f99e5c 13%,
        #febc16 26%,
        #72da82 39%,
        #85d1bf 52%,
        #58a8fa 65%,
        #a57bcd 78%,
        #cb76b8 91%
    );
}

.menu-button {
  border-radius: 0px;
  background: none;
}
.menu-button:hover {
  background: linear-gradient(0deg, alpha(@accent_bg_color, 0.08), alpha(@accent_bg_color, 0.08)), image(@view_bg_color);
}
.menu-button:active {
  background: linear-gradient(0deg, alpha(@accent_bg_color, 0.05), alpha(@accent_bg_color, 0.05)), image(@view_bg_color);
}