entry.search {
  border-radius: 999px;
}

.rounded-icon {
  background: @accent_bg_color;
  color: @accent_fg_color;
  border-radius: 999px;
  padding: 11px;
}

button.flat label {
  font-weight: 500;
}

.checked-up {
  background: @success_container_bg_color;
  color: @success_container_fg_color;
  box-shadow: inset 0 0 0 1px @outline;
  margin-top: 12px;
  margin-left: 6px;
}

.wallpaper-grid flowboxchild {
  background: none;
  padding: 0;
}

.red radio {
  background: #e25480;
}
.red:disabled radio {
  background: alpha(#e25480, 0.18);
}

.orange radio {
  background: #f99e5c;
}
.orange:disabled radio {
  background: alpha(#f99e5c, 0.18);
}

.yellow radio {
  background: #febc16;
}
.yellow:disabled radio {
  background: alpha(#febc16, 0.18);
}

.green radio {
  background: #72da82;
}
.green:disabled radio {
  background: alpha(#72da82, 0.18);
}

.blue radio {
  background: #58a8fa;
}
.blue:disabled radio {
  background: alpha(#58a8fa, 0.18);
}

.purple radio {
  background: #a57bcd;
}
.purple:disabled radio {
  background: alpha(#a57bcd, 0.18);
}

.pink radio {
  background: #cb76b8;
}
.pink:disabled radio {
  background: alpha(#cb76b8, 0.18);
}

.mono radio {
  background: #888;
}
.mono:disabled radio {
  background: alpha(#888, 0.18);
}

.multi radio {
  background: linear-gradient(90deg,
      #e25480 0%,
      #f99e5c 13%,
      #febc16 26%,
      #72da82 39%,
      #85d1bf 52%,
      #58a8fa 65%,
      #a57bcd 78%,
      #cb76b8 91%);
}
.multi:disabled radio {
  filter: opacity(0.66);
}

.menu-button {
  border-radius: 0;
  box-shadow: none;
  background: none;
  min-height: 48px;
  padding: 0 12px 0 12px;
  margin: 8px 0 8px 0;
  color: @view_fg_color;
}

.menu-button:hover {
  background: alpha(@view_fg_color, 0.14);
}

.menu-button:active {
  background: alpha(@view_fg_color, 0.15);
}

spinbutton.flat {
  background: none;
  outline: none;
}

.card-option {
  border-radius: 8px;
  background: none;
  color: alpha(@view_fg_color, 0.87);
  box-shadow: inset 0 0 0 1px @borders;
  padding: 18px;
}

.card-option image {
  color: alpha(@view_fg_color, 0.87);
}

.card-option label:not(.cb-title) {
  font-weight: 500;
}

.card-option:hover {
  background: linear-gradient(0deg, alpha(@success_bg_color, 0.08), alpha(@success_bg_color, 0.08)), image(@view_bg_color);
  color: @success_color;
  box-shadow: inset 0 0 0 1px @success_color;
}

.card-option:hover image {
  color: @success_color;
}

.card-option:active {
  background: linear-gradient(0deg, alpha(@success_bg_color, 0.05), alpha(@success_bg_color, 0.05)), image(@view_bg_color);
  color: @success_color;
  box-shadow: inset 0 0 0 1px @success_color;
}

.card-option:active image {
  color: @success_color;
}

.card-option:active radio:checked {
  background: @success_color;
  color: @success_fg_color;
  box-shadow: none;
}


.card-option:checked {
  background: linear-gradient(0deg, alpha(@success_bg_color, 0.11), alpha(@success_bg_color, 0.11)), image(@view_bg_color);
  color: @success_color;
  box-shadow: inset 0 0 0 1px @success_color;
}

.card-option:checked image {
  color: @success_color;
}

.card-option:checked radio:checked {
  background: @success_color;
  color: @success_fg_color;
  box-shadow: inset 0 0 0 1px @success_color;
}

.card-option:disabled {
  background: alpha(@view_fg_color, 0.12);
  color: alpha(@view_fg_color, 0.38);
  box-shadow: inset 0 0 0 1px alpha(@view_fg_color, 0.38);
}
.mini-content-block switch:disabled {
  border: 2px solid alpha(@view_fg_color, 0.38);
}

.mini-content-block switch:disabled > slider:disabled {
  border: 5px solid alpha(@view_fg_color, 0.38);
}

.mini-content-block switch:checked > slider:disabled {
  border: 5px solid alpha(@view_fg_color, 0.38);
  background: alpha(@view_fg_color, 0.38);
}
.card-option:disabled image {
  color: alpha(@view_fg_color, 0.38);
}
.card-option:disabled radio {
  background: alpha(@view_fg_color, 0.12);
  color: alpha(@view_fg_color, 0.38);
  box-shadow: inset 0 0 0 1px alpha(@view_fg_color, 0.38);
}
.card-option:checked:disabled radio:checked {
  background: alpha(@view_fg_color, 0.12);
  color: alpha(@view_fg_color, 0.38);
  box-shadow: inset 0 0 0 1px alpha(@view_fg_color, 0.38);
}

.colored {
    background-color: alpha(@accent_bg_color, 0.15);
    color: @view_fg_color;
    border-radius: 26px;
    padding: 12px;
    border: 1px solid mix(alpha(@accent_bg_color, 0.15), @view_fg_color, 0.3);
}

.colored.disabled {
    background-color: alpha(@view_fg_color, 0.16);
    color: alpha(@view_fg_color, 0.38);
}

.ensor-box > flowbox > flowboxchild {
  padding: 0;
}

.ensor-box > flowbox > flowboxchild:selected {
  box-shadow: 0 0 0 5px @accent_color, 0 0 0 2px @view_bg_color;
}

.color-scheme-button {
  padding: 6px;
  background: none;
  box-shadow: none;
}
.color-scheme-button .content-block-image {
  margin: 0;
  box-shadow: inset 0 0 0 1px alpha(@outline, 0.38);
}
.color-scheme-button:hover .content-block-image {
  box-shadow: inset 0 0 0 1px @outline;
}
.color-scheme-button:checked .content-block-image {
  box-shadow: inset 0 0 0 3px @accent_color;
}
.color-scheme-button label {
  font-weight: 500;
}
.color-scheme-button:checked label {
  font-weight: 700;
}